# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.venv
.env
venv/
env/

# Node.js
node_modules/
npm-debug.log
yarn-error.log
frontend/dist/
frontend/build/

# IDE / Editor
.idea/
.vscode/
*.swp
.DS_Store

# OS
Thumbs.db
